.hero {
    @extend %section;
    @extend %overlay;
    text-align: center;
    padding: 200px 0;

    &__title {
        margin: 0 auto 30px;
        max-width: 696px;
        color: $primaryWhiteColor;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    &__button {
        @extend %button;
        display: inline-block;
        min-width: 200px;
        padding: 8px 24px;
    }
}