.modal-form {
    padding: 40px;

    &__title {
        padding-bottom: 30px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: $titleColor;
    }
    &__content {
        position: relative;
    }
    &__label {
        display: flex;
        flex-direction: column;
        padding-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
    }
    &__input {
        display: flex;
        width: 448px;
        height: 40px;
        margin-bottom: 10px;
        padding-left: 30px;
        outline: none;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        fill: currentColor;

        transition: border-color 250ms $cubicBezier;
    }
    &__input--comment {
        height: 120px;
        max-width: 448px;
        padding-left: 16px;
        padding-top: 12px;
        font-size: 12px;
        line-height: 1.17;
        resize: none;
    }
    &__icon {
        position: absolute;
        top: 50%;
        left: 12px;

        transition: fill 250ms $cubicBezier;
    }

    &__input:focus {
        border-color: $accentColor;
    }

    &__input:focus + &__icon {
        fill: $accentColor;
    }
}