.section-team {
    margin-top: 32px;
    background-color: var(--tertiary-bcg-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.list.team {
    display: flex;
    margin-top: 50px;
    text-align: center;
    gap: 30px;
}

.team {
    width: 270px;
    background-color: var(--primary-white-color);
    border-bottom: 1px solid var(--border-cards-color);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-member {
    color: var(--title-color);
    font-weight: 500;
    margin-bottom: 9px;
}

.team-content {
    padding: 30px 10px;
}

.team-member {
    font-weight: 500;
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    gap: 10px;
}

.social-item {
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
    background-color: var(--accent-color);
}

.social-link {
    display: flex;
    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover {
    fill: var(--primary-white-color)
}